{
    email your-email@domain.com
}

your-domain.com {
    root * /app
    file_server

    handle /manifest.json {
        reverse_proxy addon:7000
    }

    handle /subtitles/* {
        reverse_proxy addon:3000
    }

    handle /config {
        reverse_proxy addon:3000
    }

    handle /save-credentials {
        reverse_proxy addon:3000
    }

    handle {
        respond 404
    }
} 